.button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  margin-right: 1rem;
  z-index: 10;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
